h1 {
  font-family: "Noto Sans";
  font-size: 30px;
  font-weight: bold;
}
body {
  font-family: "Noto Sans";
  font-size: 15px;
  margin-top: 30;
  margin-bottom: auto;
  margin-right: 400px;
  margin-left: 400px;
}
